<html>

<head>
    <link rel='stylesheet' href=' https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.css'>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/app.css'>  
    <script src="https://js.pusher.com/6.0/pusher.min.js"></script>
    <script src='/script/app.js'></script>
    <title>CodeAttack</title>
</head>

<body>
    <div class='ui fixed inverted menu'>
        <div class='ui conatiner'>
            <div class='header item'><i class="quote right icon"></i>ShareLover
            </div>
            </div>
    </div>